<ion-view>
  <ion-content class="background">
          <div class="row dashboardHeader" ng-click="goPreviousState()">
          <i class="icon ion-android-arrow-back backArrow"></i>
            Log In with Email
        </div>
      <div class="row margin-left5 mainContainer">
          <div class="col-90">
            <div class="row">
              <a ui-sref="resetpassword" class="linkFgtPwd col-50">Forgot Password?</a> 
              <a ui-sref="signup" class="linkSignUp col-50">Sign Up</a>
            </div> 
            <form name="logInForm" novalidate="">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" name="emailAdd" ng-model="user.email"placeholder="Email Address" required>
                    </label>
                    <label class="item item-input">
                        <input type="password" name="password" ng-model="user.password"placeholder="Password" required>
                    </label>
                </div>
                <button class="button button-block button-assertive" 
                        type="submit" 
                        ng-disabled="!logInForm.$valid"
                        ng-click="vm.doLogin(logInForm)">
                    Log In 
                </button>
              </form>
          </div>
      </div>
  </ion-content>
</ion-view>
