<ion-view>
  <ion-content class="background">
        <div class="row dashboardHeader" ng-click="goPreviousState()">
          <i class="icon ion-android-arrow-back backArrow"></i>
            Reset your password
        </div>
      <div class="row margin-left5 mainContainer">
          <div class="col-90">
            <div class="row email-message">
                  Please enter your email address and we will send you an email 
                  to reset your password.
            </div> 
            <form name="resetPwdForm" novalidate="">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" name="emailAdd" ng-model="user.email"placeholder="Email Address" required>
                    </label>
                </div>
                <button class="button button-block button-assertive" 
                        type="submit" 
                        ng-disabled="!resetPwdForm.$valid"
                        ng-click="vm.resetPwd(resetPwdForm)">
                    Reset Password
                </button>
              </form>
          </div>
      </div>
  </ion-content>
</ion-view>
