<ion-view view-title="SignUp">
  <ion-content class="background">
          <div class="row dashboardHeader" ng-click="goPreviousState()">
          <i class="icon ion-android-arrow-back backArrow"></i>
            Sign Up with Email
        </div>
      <div class="row margin-left5 mainContainer">
          <div class="col-90">
          <form name="signUpForm" novalidate="" autocomplete="off">
              <div class="list">
                  <label class="item item-input">
                      <input type="text" name="emailAdd" ng-model="user.email"placeholder="Email Address" required>
                  </label>
                  <label class="item item-input">
                      <input type="password" name="password" ng-model="user.password"placeholder="Password" required>
                  </label>
                  <label class="item item-input">
                      <input type="text" name="firstName" ng-model="user.firstName" placeholder="First Name" required>
                  </label>
                  <label class="item item-input">
                      <input type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required>
                  </label>
              </div>
              <button class="button button-block button-assertive" 
                      type="submit" 
                      ng-disabled="!signUpForm.$valid"
                      ng-click="vm.signup(signUpForm)">
                  Sign Up
              </button>
            </form>
          </div>
      </div>
  </ion-content>
</ion-view>
