<ion-view>
   <ion-content class="background">
        <div class="row dashboardHeader" ng-click="goPreviousState()">
          <i class="icon ion-android-arrow-back backArrow"></i>
            Log In or Sign Up 
        </div>
        <div class="row compLogo">
           <div class="logoCenter">ZoopIt</div>
        </div>
        <div class="row">
            <button class="fbButton button button-full button-positive" ng-click="vm.fbLogin()">Login By Facebool</button>
        </div>
        <div class="row">
                    <button class="gButton button button-full button-assertive" ng-click="vm.gplusLogin()">Login By Google</button>
        </div>

        <div class="row btnSignInUp">
            <div class="col">
                <a ui-sref="signup" class="button button-outline button-block button-stable">
                  <span>Sign Up</span>
                </a>
            </div>
            <div class="col">
                <a ui-sref="login" class="button button-outline button-block button-stable">
                  <span>Log In<span>
                </a>
            </div>
        </div>
        <div class="row termsCond">
            <!-- TODO: Have to write terms and condition -->
        </div>
    </ion-content>
</ion-view>