<ion-view title="Request">
    <ion-content overflow-scroll="true">
        <div class="list card" 
             ng-repeat="request in vm.requests">
            <div class="item item-divider">
                <p>
                    <i class="ion-calendar"></i> 
                    <span am-time-ago="{{::request.createdOn}}"></span>
                    <button class="pull-right button-clear">
                        <i class="ion-android-delete"></i>
                    </button>
                </p>
            </div>
            <div class="item item-body">
                {{::request.description}}
            </div>
            <div class="item item-divider">
                <p class="pull-left">
                    <span class="responseCount">{{::request.response}}</span> Responses
                </p>
                <p class="pull-right">
                    Budget {{::request.budget}} INR
                </p>
            </div>
        </div>
        <ion-spinner class="lines"></ion-spinner>
        <ion-infinite-scroll on-infinite="vm.loadMoreRequests()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
