<ion-view title="Responses">
    <ion-content overflow-scroll="true">
        <div class="list card" ng-repeat="response in vm.responses">
            <div class="item item-avatar">
                <img ng-src="{{::response.profileImg}}">
                <h2>{{::response.fullName}}</h2>
                <p><span am-time-ago="{{::response.responseDate}}"></span></p>
            </div>
            <div class="item item-body">
                <p>{{::response.responseMessage}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="tel:+91{{response.phoneNumber}}">
                    <i class="icon ion-android-call"></i> Call
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-android-chat"></i> Chat
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Detail
                </a>
            </div>
        </div>
        <ion-spinner class="lines"></ion-spinner>
        <ion-infinite-scroll on-infinite="vm.loadMoreResponses()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
