<ion-view title="Home"  hide-back-button="true">
    <ion-content overflow-scroll="true" class="hasBottom">
        <div class="fullWidth">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="What service you need ?" 
            ng-model="searchService.tags">
          </label>

            <div class="list" ng-repeat="service in services = (vm.services | filter:searchService)">
                <div class="wide-item" ng-click="vm.goServiceGetQuotes(service.type)">
                    <div class="wide-item-titles">
                        <h4>{{::service.title}}</h4>
                        <p>{{::service.description}}</p>
                        <p>Providers: {{::service.totalProviders}}</p>
                    </div>
                    <div class="wide-image">
                        <div class="overlay"></div>
                        <a class="swipebox-wide" href title="Your caption here!"><img class="responsive-image" src="img/hotelsbooking.png" alt="img"></a>
                    </div>
                </div>
            </div>
            <div ng-hide="services.length">
                <div class="card">
                  <div class="item item-text-wrap">
                    <i class="icon ion-thumbsup"></i>The service you are looking for not available.
                  </div>
                </div>
                <button class="button button-block button-assertive">
                 Request Service
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
