<ion-view>
    <div class="row chatDetailHeader">
        <i class="icon ion-android-arrow-back backArrow" ng-click="goPreviousState()"></i> Invite Friends
    </div>
    <ion-content class="chatDetail has-header has-footer">
                  <button class="button button-block button-assertive" 
                      type="submit"
                      ng-click="vm.inviteFriend()">
                  Invite Friend
              </button>
    </ion-content>
</ion-view>
