<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

     <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="vm.goToInviteFrnd()">
          Invite Friends <!-- TDOO: This would appear only when user do login -->
        </ion-item>
        <ion-item menu-close>
          How It Works
        </ion-item>
        <ion-item menu-close>
          Why IntelliGo
        </ion-item>
        <ion-item menu-close>
          Help
        </ion-item>
        <ion-item menu-close>
          Settings
        </ion-item>
        <div class="item item-button-right" ng-click="vm.doLoginLogout()">
          Log In or Sign Up
           <button class="button button-positive">
               <i class="icon ion-android-exit"></i>
           </button>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
