<ion-view>
    <ion-nav-view name="mainContent"></ion-nav-view>
    <div class="tabs-striped tabs-color-assertive">
    {{vm.$state.includes('home')}}
        <div class="tabs">
            <a class="tab-item" ng-class="{active: vm.$state.includes('**.services.**')}"  ui-sref="app.tab.services">
                <i class="icon ion-home"></i> Home
            </a>
            <a class="tab-item" ng-class="{active: vm.$state.includes('**.requests.**')}" ui-sref="app.tab.requests({userId : '12345'})">
                <i class="icon ion-android-list"></i> Request List
            </a>
            <a class="tab-item"  ng-class="{active: vm.$state.includes('**.responses.**')}" ui-sref="app.tab.responses({userId : '12345'})">
                <i class="icon ion-android-notifications"></i>Notification
            </a>
            <a class="tab-item" ng-class="{active: vm.$state.includes('**.chats.**')}" ui-sref="app.tab.chats">
                <i class="icon ion-chatbox-working"></i> Chats
            </a>
        </div>
    </div>
</ion-view>
