<ion-view title="Chat List">
    <ion-content overflow-scroll="true">
        <div class="list">
		    <a class="item item-avatar" ui-sref="chatDetails">
		      <img ng-src="img/nik.png">
		      <h2>Nishant</h2>
		      <p>Offline</p>
		    </a>
		   	<a class="item item-avatar" href="#">
		      <img ng-src="img/sk.png">
		      <h2>Srivastava</h2>
		      <p>Available</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img ng-src="img/surya.png">
		      <h2>Surya Prakash</h2>
		      <p>Available</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img ng-src="img/pr.png">
		      <h2>Priyvarat</h2>
		      <p>Away</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img ng-src="img/pr.png">
		      <h2>Priyvarat</h2>
		      <p>Away</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img ng-src="img/pr.png">
		      <h2>Priyvarat</h2>
		      <p>Away</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img ng-src="img/sk.png">
		      <h2>Srivastava</h2>
		      <p>Available</p>
		    </a>
		    <a class="item item-avatar" href="#">
		      <img ng-src="img/sk.png">
		      <h2>Srivastava</h2>
		      <p>Available</p>
		    </a>
		   	<a class="item item-avatar" href="#">
		      <img ng-src="img/pr.png">
		      <h2>Priyvarat</h2>
		      <p>Away</p>
		    </a>
		</div>
    </ion-content>
</ion-view>
