/* Empty. Add your own CSS if you like */

/*
  Global CSS
 */

a{
	text-decoration: none;
} 

/* Signup Page CSS Start*/
.margin-left5{
  margin-left: 5%;
}

/* Signup Page CSS End*/

/*
  Login Page CSS Start
 */

.linkFgtPwd{
	color: #7c7d81;
	float: left;
	margin-left: -6px;
}

.linkSignUp{
	color: #7c7d81;
	float: right;
	text-align: right;
	margin-left: 12px;
}

/*
 Login page css end
 */
.email-message{
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

/*
  Hotel Get quotes CSS Start
 */
.fullWidth{
	width: 100%;
}

.haveBudget {
	text-align: left;
	padding:10px;

}
.textAlignRight{
	text-align: right;
}

.responsive-image{
	width: 100%;
}

.wide-item {
    margin-bottom: 3px;
}

.wide-item-titles {
    position: relative;
    z-index: 99999;
    top: 30px;
    margin-bottom: -45px;
    pointer-events: none;
}

.wide-image {
    max-height: 150px;
    overflow: hidden;
}

.wide-item-titles h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 999999;
    text-align: center;
    margin-bottom: 5px;
}

.wide-item-titles p {
    color: #FFFFFF;
    margin-bottom: 0px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    position: relative;
    z-index: 999999;
}

.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.6);
    z-index: 9999;
}

.wide-item .responsive-image {
    margin-bottom: 0px;
}

.responsive-image {
    width: 100%;
    margin-bottom: 20px;
}

/*
  This is important for making bottom header
 */
.hasBottom{
	bottom:44px;
	top: 34px;
}

.background {
    background : #000000 url("/img/bgimage.png") no-repeat bottom left;
    background-size: 100% 100%;
    min-height:100%;
}

.dashboardHeader {
    margin-top: 26px;
    font-family: inherit;
    font-size: 22px;
    color: #fff;
    font-weight: initial;
}

.row.compLogo {
    height: 300px;
    padding: 10px;
    position: relative;
    top: 30px;
    font-size: 70px;
    color: rgb(208, 64, 64);
    text-align: center;
    width: 100%;
    padding-top: 130px;
}

.logoCenter{
    width:100%;
}
.backArrow{
    margin-right: 17px;
    margin-left: 6px;
}


/*Request List css */

.pull-right{
  float:right;
}
.pull-left {
  float:left;
}

.responseCount {
  background-color: #ef473a;
    color: #fff;
    padding: 2px 6px;
    min-width: 10px;
    border-radius: 10px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
}

.mainContainer{
    top: 30px;
    position: relative;
}

/*Chat Module CSS Start */
/* allows the bar-footer to be elastic /*
/* optionally set a max-height */
/* maxlength on the textarea will prevent /*
/* it from getting too large also */
.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}

.chatDetailHeader {
    font-family: inherit;
    font-size: 22px;
    color: rgba(236, 233, 231, 0.66);
    font-weight: initial;
    height: 50px;
    background-color: rgba(100, 100, 206, 0.96);
    padding-top: 14px;
}

.normalDataHeader {
    font-family: inherit;
    font-size: 22px;
    color: rgba(236, 233, 231, 0.66);
    font-weight: initial;
    height: 50px;
    background-color: rgba(100, 100, 206, 0.96);
    padding-top: 14px;
    margin-bottom : 10px;
}
.chatDetail{
    top: 51px !important;
}
.chat-header-username{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
/* Chat Module css end*/

